.img-wrapper {
  position: relative;
}

.img-settings {
  aspect-ratio: 3 /2;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.love-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #7fb7be;
  background: white;
  font-size: 16px;
  border-radius: 50%;
  width: 100%;
  max-width: 32px;
  aspect-ratio: 32/32;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.love-icon:hover {
  color: red;
  background: rgb(249, 200, 182);
}
.out-of-stock {
  position: relative;
}
.out-of-stock::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  inset: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  z-index: 1;
}

.out-of-stock::before {
  z-index: 2;
  content: "Out of stock";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: black;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

.out-of-stock:hover::after {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.nav-link {
  padding-left: 8px; /* 🔥 kecilin dari default */
}
